{% extends 'base.html.twig' %}

{% block title %}Nouveau Commentaire{% endblock %}

{% block body %}
<div class="container">
    <h1 class="text-center pb-2">Nouveau Commentaire</h1>
    {{ include('comment/_form.html.twig') }}
</div>
{% endblock %}